<div class="sns-share">
    <a href="" class="qzone"><i class="icon iconfont icon-qzone"></i></a>
    <a href="" class="qq"><i class="icon iconfont icon-qq"></i></a>
    <a href="" class="weibo"><i class="icon iconfont icon-weibo"></i></a>
    <a href="" class="wechat"><i class="icon iconfont icon-wechat"></i></a>
    <a href="" class="douban"><i class="icon iconfont icon-douban"></i></a>
</div>

<!-- 引入sns.js -->
<script src="/public/js/jquery.qrcode.min.js"></script>
<script src="/public/js/share.js"></script>

<script>
    $(function(){
        $('.sns-share').share();
    });
</script>
